* {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
$spacing-unit: 12px;

 // Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


// images
img {
    max-width: 100%;
    vertical-align: middle;
}


// figures
figure > img {
    display: block;
}


// Some Mixins

@mixin text-form-border($linecolor) {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid $linecolor;
}
