//grid settins
$max-width: 960px

// container layout
.app
  @include outer-container()

  background: #30CEA1
  box-shadow: 0 0 15px -4px

  display: flex
  justify-content: center


// logo
.logo
  width: 740px
  height: auto
  max-width: 100% 
// logo 
