header
  display: flex
  justify-content: space-between
  align-items: flex-end
  max-width: 800px
  width: 100%
  margin: auto

ul
  list-style-type: none
  overflow: hidden
  top: 0px
  max-width: 400px
  width: 100%
  display: flex
  justify-content: space-between

  li
    font-family: 'multicore'
    font:
      size: 1.4em
      weight: 200
    color: $grey
    float: left
    transition: 0.2s

    &:hover
      color: $albionTeal
      cursor: pointer

  .active
    color: $albionTeal
    border-bottom: 3px solid $albionTeal
    padding-bottom: 10px
