// Styles for Major Components
// Use a comment directly above each component with description
// Use two spaces between each component
// components can have multiple selectors, selectors are separated by one space


// This is a div that covers entire page and saturates the
//background image with a transparent grey color.
.transparency
  width: 100%
  height: 100%
  background: rgba(20,20,20,0.85)
  padding-top: 50px


// The title card under header with large logo
.title
  @include outer-container()
  margin-top: 50px
  height: 455px
  background: $backgroundGrey
  box-shadow: 0 0 60px -10px
  border-radius: $bRadius
  display: flex
  justify-content: center

  svg
    max-width: 600px


// The about card
.about
  @include outer-container()
  height: 100vH
  min-height: 600px
  display: flex
  flex-direction: column
  justify-content: space-between
  background: $backgroundGrey
  box-shadow: 0 0 40px -10px #000
  border-radius: $bRadius
  padding: 100px 100px 50px 100px
  margin-top: 40px

  p
    font-size: 1.8em
    font-family: 'roboto'
    color: $paragraphGrey
    line-height: 1.6

    a
      color: $paragraphGrey
      transition: 0.2s
      &:hover
        color: $albionTeal

  // green-para selector is used for accent color within paragraph
  .green-para
    color: $albionTeal
    font-family: 'roboto'


// The contact form div
.form
  height: 100vH
  @include outer-container()
  background: -webkit-linear-gradient(rgba(45,45,45,0.22),rgba(23,190,155,0.1))
  box-shadow: 0 0 40px -10px black
  border-radius: $bRadius
  padding-top: 100px
  padding-left: 80px
  margin-top: 40px
  margin-bottom: 60px
  color: $paragraphGrey

  form
    max-width: 620px
    width: 100%
    font-family: multicore
    letter-spacing: 4px

    label
      margin-left: 20px
      padding-bottom: 50px
      cursor: pointer

    // styling of basic text boxes
    input
      padding-left: 20px

      width: 100%
      height: 50px

      background: rgba(0,0,0,0.0)

      @include text-form-border(rgba(255,255,255,0.1))

      margin: 20px 0px 60px 0px
      display: inline-block
      outline: none
      font-size: 1.2em
      font-family: 'roboto'
      color: white
      transition: 0.2s
      &:focus
        border-bottom: thin solid rgba(255,255,255,0.8)

    //styles for the textarea
    textarea
      background-color: rgba(255,255,255,0)
      color: white
      @include text-form-border(rgba(255,255,255,0.1))
      display: block
      width: 620px
      padding-left: 20px
      margin: 20px 0px 30px 0px
      outline: none
      font-size: 1.2em
      &:focus
        border-bottom: thin solid rgba(255,255,255,0.8)

    // styles for the submit button
    #submit
      width: 100%
      height: 60px
      background-color: $albionTeal
      color: white
      border: none
      border-radius: 50px
      font-size: 1.1em
      letter-spacing: 4px
      cursor: pointer
      font-family: multicore
