// Styles for Major Components
// Use a comment directly above each component with description
// Use two spaces between each component
// components can have multiple selectors, selectors are separated by one space


// This is a div that covers entire page and saturates the
//background image with a transparent grey color.
.transparency
  width: 100%
  height: 100%
  background: rgba(20,20,20,0.85)
  padding-top: 50px


// The title card under header with large logo
.title
  @include outer-container()
  margin-top: 50px
  height: 28.4em
  background: $backgroundGrey
  box-shadow: 0 0 60px -10px
  border-radius: $bRadius
  display: flex
  justify-content: center
  padding: 0, $topPadding

  svg
    width: 37.5em


// The about card
.about
  @include outer-container()
  height: auto
  min-height: 600px
  background: $backgroundGrey
  box-shadow: 0 0 40px -10px #000
  border-radius: $bRadius
  padding: $topPadding
  margin-top: $marginBetween
  @media (screen and max-width: $large)
    padding-left: 5%
    padding-right: 5%



  p
    font-size: 1.8em
    font-family: 'roboto'
    color: $paragraphGrey
    line-height: 1.6
    margin-bottom: 10vH
    &:last-of-type
      margin-bottom: 0vH

    a
      color: $paragraphGrey
      transition: 0.2s
      &:hover
        color: $albionTeal

  // green-para selector is used for accent color within paragraph
  .green-para
    color: $albionTeal
    font-family: 'roboto'
    margin-bottom: 10vH


// The contact form div
// Classes used for animation are placed at the top
.repad
  padding: 0
  display: flex
  justify-content: center
  align-items: center

#form-section
  height: 100vH
  max-height: 720px
  background: -webkit-linear-gradient(rgba(45,45,45,0.22),rgba(23,190,155,0.1))
  @include outer-container()
  box-shadow: 0 0 40px -10px black
  border-radius: $bRadius
  padding-top: 100px
  padding-left: 80px
  margin-top: 40px
  margin-bottom: 60px
  color: $paragraphGrey
  transition: 1s
  font-family: multicore
  letter-spacing: 4px

  form
    max-width: 620px
    width: 100%
    font-family: multicore
    letter-spacing: 4px

    label
      margin-left: 20px
      padding-bottom: 50px
      cursor: pointer

    // styling of basic text boxes
    input
      padding-left: 20px

      width: 100%
      height: 50px

      background: rgba(0,0,0,0.0)

      @include text-form-border(rgba(255,255,255,0.1))

      margin: 20px 0px 60px 0px
      display: inline-block
      outline: none
      font-size: 1.2em
      font-family: 'roboto'
      color: white
      transition: 0.2s
      &:focus
        border-bottom: thin solid rgba(255,255,255,1)

    //styles for the textarea
    textarea
      background-color: rgba(255,255,255,0)
      color: white
      @include text-form-border(rgba(255,255,255,0.1))
      display: block
      width: 100%
      max-width: 620px
      padding-left: 20px
      margin: 20px 0px 30px 0px
      outline: none
      font-size: 1.2em
      font-family: 'roboto'
      &:focus
        border-bottom: thin solid rgba(255,255,255,1)

    // styles for the submit button
    #submit
      width: 100%
      height: 50px
      background-color: $albionTeal
      color: white
      border: none
      border-radius: 25px
      font-size: 1.1em
      letter-spacing: 4px
      cursor: pointer
      font-family: multicore
      transition: 0.3s
      outline: none
      position: relative
      &:hover
        box-shadow: 0px 0px 25px -5px $albionTeal
